:root {
  --black: 0 0% 0%;
  --white: 0 0% 100%;
  --background: 60 14% 10%;
  --foreground: 0 0% 100%;
  --muted: 60 9% 45%;
  --muted-foreground: 0 0% 100% / 50%;
  --active: 60 12% 15%;
  --active-foreground: 0 0% 100%;
  --success: 162 100% 24%;
  --border: 60 10% 90%;

  --gray: 60 7% 34%;
  --light-gray: 60 5% 66%;
  --yellow: 44 100% 50%;
  --blue: 216 100% 59%;
  --green: 144 100% 39%;
  --red: 357 94% 57%;

  --space-1: 4px;

  --rounded-xs: 2px;
  --rounded-sm: 4px;
  --rounded-md: 6px;
  --rounded-lg: 8px;
  --rounded-xl: 12px;
  --rounded-2xl: 16px;
  --rounded-3xl: 20px;
  --rounded-4xl: 24px;
  --rounded-full: 9999px;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  border: none;
  font-family: inherit;
  background: none;
  outline: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: hsl(var(--white));
  background: hsl(var(--black));
}

.page {
  padding: calc(var(--space-1) * 4) 0;
}

.container {
  margin-inline: auto;
  padding-inline: calc(var(--space-1) * 4);
  width: 100%;
}

.columns {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(var(--space-1) * 4);
}

.column {
  display: grid;
  gap: calc(var(--space-1) * 4);
}

.dropdown {
  position: relative;
  width: 100%;
  height: fit-content;
}

.dropdown__trigger {
  display: flex;
  align-items: center;
  gap: calc(var(--space-1) * 2);
  border: 1px solid hsl(var(--border) / 15%);
  border-radius: var(--rounded-full);
  padding-inline: calc(var(--space-1) * 4);
  width: 100%;
  height: calc(var(--space-1) * 9);
  color: hsl(var(--muted-foreground));
  background: hsl(var(--background));
  box-shadow: 0 1px 2px hsl(var(--black) / 30%);
  transition: all 75ms linear;
}

.dropdown__trigger:focus-visible {
  box-shadow: 0 0 0 3px hsl(var(--border) / 15%);
}

.dropdown__trigger:disabled {
  opacity: 50%;
  pointer-events: none;
}

.dropdown__label {
  flex: 1;
  font-size: var(--text-sm);
  text-align: left;
  white-space: nowrap;
  color: hsl(var(--muted-foreground));
}

.dropdown__trigger[data-placeholder='false'] .dropdown__label {
  color: hsl(var(--active-foreground));
}

.dropdown__trigger > svg:last-of-type {
  flex-shrink: 0;
  margin-left: auto;
  width: calc(var(--space-1) * 3.5);
  height: calc(var(--space-1) * 3.5);
  pointer-events: none;
}

.dropdown__wrapper {
  position: absolute;
  top: calc(100% + var(--space-1) * 2);
  right: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;
  transition: all 175ms linear;
}

.dropdown[data-state='open'] .dropdown__wrapper {
  opacity: 100%;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown__content {
  border: 1px solid hsl(var(--border) / 15%);
  border-radius: var(--rounded-3xl);
  padding: calc(var(--space-1) * 2);
  background: hsl(var(--background));
  box-shadow: 0 1px 2px hsl(var(--black) / 30%);
}

.dropdown__content > * + * {
  margin-top: calc(var(--space-1) * 2);
}

.dropdown-search {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown-search > svg {
  position: absolute;
  left: calc(var(--space-1) * 2);
  width: calc(var(--space-1) * 3.5);
  height: calc(var(--space-1) * 3.5);
  color: hsl(var(--muted));
  pointer-events: none;
}

.dropdown-search__input {
  border-radius: var(--rounded-full);
  padding: 0 calc(var(--space-1) * 2) 0 calc(var(--space-1) * 7);
  width: 100%;
  height: calc(var(--space-1) * 8);
  font-size: var(--text-sm);
  color: hsl(var(--foreground));
  background: hsl(var(--active));
}

.dropdown-search__input::placeholder {
  color: hsl(--muted-foreground);
}

.dropdown-search__input:focus-visible {
  box-shadow: 0 0 0 3px hsl(var(--border) / 15%);
}

.dropdown__options {
  font-weight: 500;
  font-size: var(--text-sm);
  color: hsl(var(--foreground));
  text-align: center;
}

.dropdown__options > * + * {
  margin-top: calc(var(--space-1) / 4);
}

.dropdown-option {
  display: flex;
  align-items: center;
  gap: calc(var(--space-1) * 2);
  border-radius: var(--rounded-full);
  padding-inline: calc(var(--space-1) * 2);
  width: 100%;
  height: calc(var(--space-1) * 8);
  font-size: var(--text-sm);
  color: hsl(var(--foreground));
  white-space: nowrap;
}

.dropdown-option.big {
  padding: var(--space-1) calc(var(--space-1) * 2);
  height: fit-content;
}

.dropdown-option:focus-visible {
  box-shadow: 0 0 0 3px hsl(var(--border) / 15%);
}

.dropdown-option > svg {
  flex-shrink: 0;
  width: calc(var(--space-1) * 3.5);
  height: calc(var(--space-1) * 3.5);
  pointer-events: none;
}

.dropdown-option > svg.check {
  margin-left: auto;
  color: hsl(var(--success));
}

.chip {
  display: block;
  border-radius: var(--rounded-full);
  margin-top: calc(var(--space-1) / 2);
  width: calc(var(--space-1) * 2.5);
  height: calc(var(--space-1) * 2.5);
  background: hsl(var(--active));
}

.chip.bg-gray {
  background: hsl(var(--gray));
}

.chip.bg-light-gray {
  background: hsl(var(--light-gray));
}

.chip.bg-yellow {
  background: hsl(var(--yellow));
}

.chip.bg-blue {
  background: hsl(var(--blue));
}

.chip.bg-green {
  background: hsl(var(--green));
}

.chip.bg-red {
  background: hsl(var(--red));
}

.currency {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded-full);
  width: calc(var(--space-1) * 4.5);
  height: calc(var(--space-1) * 4.5);
  font-size: var(--text-xs);
  color: hsl(var(--white));
  background: hsl(var(--active));
}

.assignee {
  display: flex;
  flex: 1;
  align-items: center;
  gap: calc(var(--space-1) * 2);
  font-weight: 500;
  font-size: var(--text-sm);
  color: hsl(var(--white));
  text-align: left;
}

.assignee__avatar {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded-full);
  width: calc(var(--space-1) * 8);
  height: calc(var(--space-1) * 8);
  font-weight: 500;
  font-size: var(--text-xs);
  color: hsl(var(--white));
  background: hsl(var(--active));
}

.assignee.compact .assignee__avatar {
  width: calc(var(--space-1) * 6);
  height: calc(var(--space-1) * 6);
}

.assignee__texts {
  display: flex;
  flex-direction: column;
}

.assignee__email {
  font-weight: 400;
  font-size: var(--text-xs);
  color: hsl(var(--muted-foreground));
}

.assignee__value {
  font-weight: 500;
  font-size: var(--text-sm);
}

.custom-option {
  display: flex;
  flex: 1;
  align-items: center;
  gap: calc(var(--space-1) * 2);
  font-size: var(--text-sm);
  color: hsl(var(--white));
}

.custom-option > svg {
  flex-shrink: 0;
  margin-top: calc(var(--space-1) / 2);
  width: calc(var(--space-1) * 3.5);
  height: calc(var(--space-1) * 3.5);
  color: hsl(var(--muted));
  pointer-events: none;
}

.custom-option > svg.text-white {
  color: hsl(var(--white));
}

.custom-option > svg.text-gray {
  color: hsl(var(--gray));
}

.custom-option > svg.text-light-gray {
  color: hsl(var(--light-gray));
}

.custom-option > svg.text-blue {
  color: hsl(var(--blue));
}

.custom-option > svg.text-yellow {
  color: hsl(var(--yellow));
}

.custom-option__label {
  flex: 1;
  text-align: left;
  white-space: nowrap;
}

.custom-option__label.mono {
  font-family: monospace;
}

.custom-option.compact .custom-option__label {
  flex: none;
}

.custom-option__value {
  color: hsl(var(--muted-foreground));
}

@media (hover: hover) and (pointer: fine) {
  button {
    cursor: pointer;
  }

  .dropdown__trigger:hover {
    background: hsl(var(--active));
  }

  .dropdown-option:hover {
    background: hsl(var(--active));
  }
}

@media screen and (min-width: 640px) {
  .columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .columns {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
