@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --black: 0 0% 0%;
  --white: 0 0% 100%;
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --popover: 0 0% 9%;
  --popover-foreground: 0 0% 100%;
  --muted-foreground: 0 0% 45%;
  --active: 0 0% 15%;
  --active-foreground: 0 0% 100%;
  --border: 0 0% 90%;

  --space-1: 4px;

  --rounded-xs: 2px;
  --rounded-sm: 4px;
  --rounded-md: 6px;
  --rounded-lg: 8px;
  --rounded-xl: 12px;
  --rounded-2xl: 16px;
  --rounded-3xl: 20px;
  --rounded-4xl: 24px;
  --rounded-full: 9999px;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

button,
input,
textarea {
  border: none;
  font-family: inherit;
  background: none;
  outline: none;
}

.icon-button {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded-md);
  width: calc(var(--space-1) * 8);
  height: calc(var(--space-1) * 8);
  color: hsl(var(--muted-foreground));
  background: transparent;
  transition: all 75ms linear;
}

.icon-button:disabled,
.button:disabled,
.time-picker__time:disabled {
  opacity: 50%;
  pointer-events: none;
}

.icon-button:focus-visible,
.button:focus-visible,
.calendar__day:focus-visible,
.time-picker__time:focus-visible {
  box-shadow: 0 0 0 3px hsl(var(--border) / 15%);
}

.icon-button > svg {
  flex-shrink: 0;
  width: calc(var(--space-1) * 3.5);
  height: calc(var(--space-1) * 3.5);
  pointer-events: none;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--space-1) * 2);
  border: 1px solid hsl(var(--border) / 15%);
  border-radius: var(--rounded-lg);
  padding-inline: calc(var(--space-1) * 4);
  width: fit-content;
  height: calc(var(--space-1) * 8);
  font-weight: 500;
  font-size: var(--text-sm);
  color: hsl(var(--white));
  white-space: nowrap;
  background: transparent;
  box-shadow: 0 1px 2px hsl(var(--border) / 10%);
  transition: all 75ms linear;
}

.picker {
  border: 1px solid hsl(var(--border) / 15%);
  border-radius: var(--rounded-2xl);
  width: 425px;
  color: hsl(var(--popover-foreground));
  background: hsl(var(--popover));
}

.picker__body {
  display: flex;
}

.picker__calendar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-right: 1px solid hsl(var(--border) / 15%);
  padding: calc(var(--space-1) * 5);
}

.calendar > * + * {
  margin-top: calc(var(--space-1) * 2);
}

.calendar__header {
  display: flex;
  align-items: center;
  gap: calc(var(--space-1) * 2);
}

.calendar__heading {
  margin-inline: auto;
  font-weight: 500;
  font-size: var(--text-sm);
}

.calendar__content > * + * {
  margin-top: calc(var(--space-1) / 2);
}

.calendar__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: calc(var(--space-1) / 2);
}

.calendar__weekday {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--space-1) * 8);
  height: calc(var(--space-1) * 8);
  font-size: var(--text-xs);
  color: hsl(var(--muted-foreground));
}

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: calc(var(--space-1) / 2);
}

.calendar__day {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded-md);
  width: calc(var(--space-1) * 8);
  height: calc(var(--space-1) * 8);
  color: hsl(var(--foreground));
  background: transparent;
  transition: all 75ms linear;
}

.calendar__day:disabled {
  text-decoration: line-through;
  opacity: 50%;
  pointer-events: none;
}

.calendar__day.selected {
  color: hsl(var(--black));
  background: hsl(var(--white));
}

.calendar__day.planned {
  position: relative;
}

.calendar__day.planned::after {
  content: '';
  position: absolute;
  top: 75%;
  left: 50%;
  border-radius: var(--rounded-full);
  width: calc(var(--space-1) * 3 / 4);
  height: calc(var(--space-1) * 3 / 4);
  background: hsl(var(--white));
  transform: translate(-50%, 50%);
  transition: all 75ms linear;
}

.calendar__day.planned.selected::after {
  background: hsl(var(--black));
}

.time-picker {
  max-height: calc(var(--space-1) * 79);
}

.time-picker__times {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space-1) * 2);
  padding: calc(var(--space-1) * 5);
  max-height: 100%;
  overflow: hidden;
}

.time-picker__time {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(var(--border) / 15%);
  border-radius: var(--rounded-lg);
  width: calc(var(--space-1) * 27);
  height: calc(var(--space-1) * 8);
  font-weight: 500;
  font-size: var(--text-sm);
  color: hsl(var(--white));
  white-space: nowrap;
  background: transparent;
  transition: all 75ms linear;
}

.time-picker__time.selected {
  color: hsl(var(--black));
  background: hsl(var(--white));
}

.picker__footer {
  display: flex;
  align-items: center;
  gap: calc(var(--space-1) * 2);
  border-top: 1px solid hsl(var(--border) / 15%);
  padding: calc(var(--space-1) * 5);
}

.picker__message {
  flex: 1;
  font-size: var(--text-xs);
  line-height: 1.3;
}

@media (hover: hover) and (pointer: fine) {
  button {
    cursor: pointer;
  }

  .icon-button:hover,
  .button:hover,
  .calendar__day:not(.selected):hover,
  .time-picker__time:not(.selected):hover {
    color: hsl(var(--active-foreground));
    background: hsl(var(--active));
  }
}
